<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.transaction.mapper.ProductStockMapper">
    <resultMap id="BaseResultMap" type="com.smart.transaction.entity.ProductStock">
        <result property="total" column="total"/>
        <result property="stock" column="stock"/>
    </resultMap>
    <select id="selectProductSize" resultMap="BaseResultMap">
        SELECT total, stock
        FROM product_stock
                WHERE product_id IN
        <foreach collection="ids" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </select>
</mapper>